/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #bfc9d5;
}

/* Header */
h1 {
    background-color: #f4c6c3;
    color: #b8a1d9;
    padding: 20px;
    text-align: center;
}
h2 {
    background-color: #bfc9d5;
    color: #b8a1d9;
    padding: 10px;
    text-align: center;
}
blockquote {
  background-color: #f4c6c3;
    color: #c396a2;
    padding: 20px;
    Margin: 10px 200px 10px 200px;
    text-align: left;
    font-style: italic;
}

ul{
    display: ;
    justify-content: left;
    background-color: #a7c7e7;
    padding: 20px;
    color: white;
  boarder: 3px;
}

table {
   table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 20px 0;
}

th, td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4c6c3;
    font-weight: bold;
    text-transform: uppercase;
  }
}

footer {
    background-color: #f4c6c3;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}